<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flowers</title>
    <link rel="stylesheet" href="../styles/flowers.css">
</head>

<body>
    <div class="main">
        <div class="pot-bottom"></div>
        <div class="flower-1">
            <div class="stem" id="stem1"></div>
            <div class="center-1"></div>
            <div class="petal-1" id="petal1"></div>
            <div class="petal-1" id="petal2"></div>
            <div class="petal-1" id="petal3"></div>
            <div class="petal-1" id="petal4"></div>
            <div class="petal-1" id="petal5"></div>
        </div>
        <div class="flower-2">
            <div class="stem" id="stem2"></div>
            <div class="center-2"></div>
            <div class="petal-2" id="petal1"></div>
            <div class="petal-2" id="petal2"></div>
            <div class="petal-2" id="petal3"></div>
            <div class="petal-2" id="petal4"></div>
            <div class="petal-2" id="petal5"></div>
        </div>
    </div>
    <div class="text">
        <h1>A flower for you 🌹</h1>
    </div>
</body>

</html>